#small-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#big-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#big-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #478153;
  opacity: 0;
  transition: opacity 0.5s;
}

#big-content.fade {
  opacity: 1;
}


#logo {
  opacity: 1;
  transition: opacity 0.5s;
}
#logo.fade{
  opacity: 0.2;
}

h2 {
  background-color: snow;
  padding: 0.5rem;
  border-radius: 10%;
}

button {
  z-index: 1;
  font-size: x-large;
  font-family: inherit;
  padding: 1em 1em;
  margin: 0.5rem;
  outline: none;
  border: none;
  border-radius: 15%;
  background-color: whitesmoke;
}

button:hover {
  cursor: pointer;
  animation: jelly 0.5s;
}

@keyframes jelly {

  0%,
  100% {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}
a{
  text-decoration: none;
  color: inherit;
}

#pic{
  pointer-events: none;
}